xml2/схема.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="my">
 <xs:complexType>
 <xs:sequence>
 <xs:element name="univer" type="xs:string"/>
 <xs:element name="spec" type="xs:string"/>
 <xs:element name="score" type="xs:string"/>
 <xs:element name="plan" type="xs:string"/>
 <xs:element name="city" type="xs:string"/>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>